/* FallingText.css */
.falling-text-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  padding-top: 1em;
}

.falling-text-target {
  display: inline-block;
}

.word {
  display: inline-block;
  margin: 0 4px;
  user-select: none;
  padding: 6px 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.skill-item {
  background-color: #162A39;
  color: #FC573B;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}